<p class="botao-sumario">
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#sumario-colapse"
        aria-expanded="false" aria-controls="sumario-colapse">
        <img src="/public/img/botao-sumario.png" width="25px" height="25px">
    </button>
</p>
<div class="sumario">
    <div class="collapse collapse-horizontal" id="sumario-colapse">
        <div class="card card-body" id="card-sumario">
            <div class="scroll-sumario">
                <a href="#1" class="list-group-item list-group-item-action">Origem dos Agrotóxicos</a>
                <a href="#1.1" class="list-group-item list-group-item-action">Surgimento dos Agrotóxicos</a>
                <a href="#1.2" class="list-group-item list-group-item-action">Revolução Verde</a>
                <a href="#1.3" class="list-group-item list-group-item-action">Agrotóxocos no Brasil</a>
                <a href="#2" class="list-group-item list-group-item-action">Tipos de Agrotóxicos</a>
                <a href="#2.1" class="list-group-item list-group-item-action">Os Organofosforados e Carbamatos</a>
                <a href="#2.2" class="list-group-item list-group-item-action">As Piretrinas</a>
                <a href="#2.3" class="list-group-item list-group-item-action">Paraquat</a>
                <a href="#3" class="list-group-item list-group-item-action">Exemplos mais utilizados de
                    Agrotóxicos</a>
                <a href="#3.1" class="list-group-item list-group-item-action">Ciproconazol</a>
                <a href="#3.2" class="list-group-item list-group-item-action">Atrazina</a>
                <a href="#3.3" class="list-group-item list-group-item-action">Imidacloprido</a>
                <a href="#3.4" class="list-group-item list-group-item-action">Propargite</a>
                <a href="#3.5" class="list-group-item list-group-item-action">Cumarina</a>
            </div>
        </div>
    </div>
</div>

<section>
    <article>
        <div class="mx-5 fs-4 agrotoxicos p-3">
            <h4 class="text-center font-size-titulo mt-lg-5" id="1">Origem dos Agrotóxicos</h4>
            <img class="rounded mx-auto d-block img-fluid mw-50" src="public/img/plantacao.jpg">
            <h5 class="text-center font-size-titulo mt-lg-5" id="1.1">Surgimento dos Agrotóxicos</h5>
            <p class="text lh-lg text-xl-start">
                Os agrotóxicos são compostos químicos que foram criados durante a Segunda Guerra Mundial para serem
                usados
                como armas químicas, porém, após o final da guerra foram usados como defensivos agrícolas. o
                primeiro
                agrotóxico que era composto orgânico DDT foi desenvolvido no ano de 1874 por Othomar Zeidler. Contudo
                foi
                somente em 1939 que Paul Muller percebeu que o composto poderia ser utilizado como um tipo de
                inseticida.
            </p>
            <p class="text lh-lg text-xl-start mt-lg-5">
                No ano de 1948 Paul Muller recebeu o Nobel de Química por ter descoberto e aplicado o DDT para
                combater
                insetos. O composto DDT era utilizado em larga escala para combater o inseto responsável por
                espalhar a
                malária.
                Porém, depois de algum tempo descobriu-se que assim como todos os outros compostos organoclorados, o
                DDT, é
                teratogênico, cancerígeno e se acumula no organismo.
            </p>
            <img class="rounded mx-auto d-block img-fluid" src="public/img/cara-branco.jpeg">
            <h5 class="text-center font-size-titulo mt-lg-5" id="1.2">Revolução Verde: </h5>
            <p class="text lh-lg text-xl-start">
                Por volta do ano de 1950 surgiu um movimento chamado “Revolução Verde”, que foi o movimento
                responsável
                por
                transformar os agrotóxicos de armas químicas para químicos utilizados no campo. Inicialmente
                considerados
                uma grande descoberta, os agrotóxicos, se aplicados em excesso podem ser muito prejudiciais à saúde,
                podendo
                causar intoxicação.
            </p>
            <p class="text lh-lg text-xl-start">
                No de 1962, a cientista americana Rachel Carson (1907-1964) publicou o livro Primavera Silenciosa,
                considerado um marco histórico no movimento ambientalista mundial, que mostrou pela primeira vez um
                alerta
                relacionado aos danos causados pelo uso de agrotóxicos, especialmente o diclorodifeniltricloroetano
                –
                DDT. O
                título da obra está relacionado ao impacto dos produtos para as cadeias alimentares, já que as aves
                que
                se
                reproduzem na primavera podem deixar de existir ao se alimentarem de insetos contaminados por
                agrotóxicos.
            </p>
            <h5 class="text-center font-size-titulo mt-lg-5" id="1.3">Agrotóxocos no Brasil: </h5>
            <p class="text lh-lg text-xl-start">
                O surgimento dos agrotóxicos no Brasil se deu a partir da Revolução Verde, que fez com que fossem
                chegar
                ao
                Brasil a partir das décadas de 60 e 70. A revolução verde foi um processo de mudança da política
                agrícola no
                país implementado a partir da segunda guerra mundial. Com um falso discurso de modernização do
                campo,
                esse
                processo incentivou a prática de monocultivos, o uso de sementes geneticamente modificadas, a forte
                mecanização do campo e o uso dos pacotes agroquímicos. Atualmente, o Brasil possui mais de 400 tipos
                de
                agrotóxicos registrados.
            </p>
            <p class="text lh-lg text-xl-start">
                Quase toda a tecnologia que surgiu na revolução verde, desde as máquinas aos agrotóxicos, foi
                proveniente de
                adaptações de pesquisas e equipamentos utilizados na guerra. A produção e a comercialização dos agro
                venenos
                no Brasil e no mundo se concentra na mão de seis grandes empresas transnacionais, que controlam mais
                de
                80%
                do mercado de venenos. São elas: Monsanto, Syngenta, Bayer, Dupont, Dow e Basf.
            </p>
            <p class="text lh-lg text-xl-start">
                Além de controlar a fabricação dos agrotóxicos, essas empresas também controlam a produção e
                comercialização
                de sementes, gerando um ciclo vicioso de consumo. Desse modo, o agricultor que passa a utilizar
                sementes
                transgênicas e venenos será sempre dependente dessas empresas.

            </p>
            <div class="fs-4 agrotoxicos p-3">
                <h4 class="text-center font-size-titulo mt-lg-5" id="2">Tipos de Agrotóxicos:</h4>
                <p class="text lh-lg text-xl-start">
                    Existem diversos tipos de agrotóxicos, com finalidades distintas. Alguns deles são:
                </p>
                <ul class="text lh-lg text-xl-start">
                    <li class="margens" id="debug1">fungicidas (atingem fungos);</li>
                    <li class="margens" id="debug1">herbicidas (atingem plantas);</li>
                    <li class="margens" id="debug1">inseticidas (atingem insetos);</li>
                    <li class="margens" id="debug1">acaricidas (atingem ácaros);</li>
                    <li class="margens" id="debug1">rodenticidas (atingem roedores).</li>
                </ul>
                <p class="text lh-lg text-xl-start">Além desses, já foram desenvolvidos defensores químicos para
                    controle de
                    larvas,
                    formigas,
                    bactérias e
                    moluscos, entre outros. Eles também se diferenciam pelas formas como agem no combate às pragas,
                    podendo
                    ser
                    por meio de contato ou ingestão.
                </p>
                <p class="text lh-lg text-xl-start">
                    A Anvisa os classifica de acordo com o nível de risco que oferecem e de danos que causam à saúde
                    humana:
                    pouco tóxicos, medianamente tóxicos, altamente tóxicos e extremamente tóxicos.
                </p>
                <p class="text lh-lg text-xl-start">
                    agrotóxicos podem ser divididos em dois grupos: inseticidas e herbicidas. No primeiro grupo estão
                    três
                    subgrupos grandes: os organoclorados, os organofosforados e carbamatos e as piretrinas. Dentre os
                    grupos
                    que
                    mais se destacam no grupo dos herbicidas estão clorofenóis, Paraquat e dinitrofenóis.
                </p>
                <p class="text lh-lg text-xl-start">
                    agrotóxicos podem ser divididos em dois grupos: inseticidas e herbicidas. No primeiro grupo estão
                    três
                    subgrupos grandes: os organoclorados, os organofosforados e carbamatos e as piretrinas. Dentre os
                    grupos
                    que
                    mais se destacam no grupo dos herbicidas estão clorofenóis, Paraquat e dinitrofenóis.
                </p>
                <img src="/public/img/categoria.jpeg" class="rounded mx-auto d-block img-fluid">
                <h5 class="text-center font-size-titulo mt-lg-5" id="2.1">Os Organofosforados e Carbamatos</h5>
                <p class="text lh-lg text-xl-start">
                    Os inseticidas organofosforados e carbamatos são os mais utilizados hoje em dia, a absorção deles
                    também
                    se
                    dá por meio das vias oral, dérmica e respiratória. Dentre os seus efeitos estão a alteração do
                    funcionamento
                    de glândulas e dos músculos do cérebro.

                </p>
                <h5 class="text-center font-size-titulo mt-lg-5" id="2.2">As Piretrinas</h5>
                <p class="text lh-lg text-xl-start">
                    Os inseticidas conhecidos como piretrinas podem ser naturais ou artificiais, pelo fato de serem
                    instáveis a
                    luz não são muito utilizados na agricultura. Esse tipo de inseticida acaba sendo usado mais no
                    ambiente
                    doméstico em forma de spray, tabletes ou espirais que acabam sendo dissolvidos no aquecimento. Um
                    dos
                    principais problemas apresentados por essas substâncias é o fato de causarem alergias podendo
                    começar
                    crises
                    de asma ou bronquite em crianças principalmente.
                </p>
                <h5 class="text-center font-size-titulo mt-lg-5" id="2.3">Paraquat</h5>
                <p class="text lh-lg text-xl-start">
                    Um herbicida que oferece um grande risco, é capaz de matar todos os tipos de plantas. Essa
                    substância é
                    responsável por causar lesões no rim e pode se concentrar nos pulmões causando uma fibrose
                    irreversível.
                </p>
                <h5 class="text-center font-size-titulo mt-lg-5">Clorofenóis</h5>
                <p class="text lh-lg text-xl-start">
                    Os dois principais clorofenóis são os 2.4-D e o 2.4.5-T e o seu principal perigo reside no fato de
                    serem
                    cancerígenos. O agente laranja, que ficou famoso pelo seu uso na Guerra do Vietnã, é resultado da
                    mistura
                    desses dois clorofenóis.
                </p>
            </div>

            <div class="fs-4 agrotoxicos p-3">
                <h4 class="text-center font-size-titulo mt-lg-5" id="3">Exemplos mais utilizados de Agrotóxicos:</h4>
                <p class="text lh-lg text-xl-start">
                    Aqui trazemos alguns exemplos de agrotóxicos bastante utilizados atualmente, com análise de suas
                    funções e classificações.
                </p>

                <h5 class="text-center font-size-titulo mt-lg-5" id="3.1">Ciproconazol</h5>
                <img src="/public/img/ciproconazol.jpeg" class="rounded mx-auto d-block img-fluid">
                <ul class="text lh-lg text-xl-start">
                    <li class="margens" id="debug1">Tipo de agrotóxico: fungicida</li>
                    <li class="margens" id="debug1">Forma de aplicação: Utilizando pulverizadores tratorizados de barra
                        ou aeronaves agrícolas.</li>
                    <li class="margens" id="debug1">Classificação toxicológica: Categoria 5 (produto improvável de
                        causar dano agudo).</li>
                    <li class="margens" id="debug1">Classificação do potencial de periculosidade ambiental: II - Muito
                        perigoso ao meio ambiente.</li>
                </ul>

                <h5 class="text-center font-size-titulo mt-lg-5" id="3.2">Atrazina</h5>
                <img src="/public/img/atrazina.png" width="300px" class="rounded mx-auto d-block img-fluid bg-light">
                <ul class="text lh-lg text-xl-start">
                    <li class="margens" id="debug1">Tipo de agrotóxico: herbicida</li>
                    <li class="margens" id="debug1">Forma de aplicação: Pulverizadores costais manuais ou pressurizados,
                        pulverizadores tratorizados com barra ou aeronaves agrícolas.</li>
                    <li class="margens" id="debug1">Classificação toxicológica: Categoria 3 (medianamente tóxico).</li>
                    <li class="margens" id="debug1">Classificação do potencial de periculosidade ambiental: II - muito
                        perigoso para o meio ambiente.</li>
                </ul>

                <h5 class="text-center font-size-titulo mt-lg-5" id="3.3">Imidacloprido</h5>
                <img src="/public/img/imidacloprido.jpg" class="rounded mx-auto d-block img-fluid">
                <ul class="text lh-lg text-xl-start">
                    <li class="margens" id="debug1">Tipo de agrotóxico: inseticida</li>
                    <li class="margens" id="debug1">Forma de aplicação: Pulverizadores costais manuais ou pressurizados
                        ou pulverizadores tratorizados com barra</li>
                    <li class="margens" id="debug1">Classificação toxicológica: Categoria 5 (produto improvável de
                        causar dano agudo).</li>
                    <li class="margens" id="debug1">Classificação do potencial de periculosidade ambiental: III -
                        perigoso para o meio ambiente.</li>
                </ul>

                <h5 class="text-center font-size-titulo mt-lg-5" id="3.4">Propargite</h5>
                <img src="/public/img/propargite.png" width="30%" class="rounded mx-auto d-block img-fluid bg-light">
                <ul class="text lh-lg text-xl-start">
                    <li class="margens" id="debug1">Tipo de agrotóxico: acaricida</li>
                    <li class="margens" id="debug1">Forma de aplicação: Equipamento de pulverização terrestre, manual ou
                        tratorizado e áerea.</li>
                    <li class="margens" id="debug1">Classificação toxicológica: Categoria 3 (produto moderadamente
                        tóxico).</li>
                    <li class="margens" id="debug1">Classificação do potencial de periculosidade ambiental: II - Muito
                        perigoso ao meio ambiente.</li>
                </ul>

                <h5 class="text-center font-size-titulo mt-lg-5" id="3.5">Cumarina</h5>
                <img src="/public/img/cumarina.png" class="rounded mx-auto d-block img-fluid bg-light">
                <ul class="text lh-lg text-xl-start">
                    <li class="margens" id="debug1">Tipo de agrotóxico: rodencidas</li>
                    <li class="margens" id="debug1">Forma de aplicação: Aplicação de iscas em locais de acesso e seguros
                        para ratos.</li>
                    <li class="margens" id="debug1">Classificação toxicológica: Categoria 3 (produto moderadamente
                        tóxico).</li>
                </ul>
            </div>
        </div>
    </article>
</section>